@import './base.css';

#app {
  width: 100vw;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a,
.green {
  text-decoration: none !important;
  color: #000 !important;
  transition: 0.4s;
}

a:hover {
  opacity: 0.8;
}

p {
  margin-bottom: 0;
}
